.ce-tab-ctn {
  text-align: center;
  display: inline-flex;
  width: 100%;
}

.ce-lookup-cnt {
  width: 100%;
}

.ce-tab-list{
  display: block;
  list-style-type: none;
  width: max-content;
  margin: auto;
  padding: 0;
  margin: 0;
}

.ce-tab-list > li {
  padding: 10pt;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 2pt;
  font-weight: bolder;
  border-color: gray;
  box-shadow: 1px 1px 2px black;
  }

.ce-tab-list > .active {
    background-color: gainsboro;
    box-shadow: 0 0 0 black;
  }

.ce-tab-ctn > div {
  display: none;
}

.ce-expl-card {
  width: 90%;
  display: flex;
  position: relative;
  border: solid;
  text-align: left;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px 20px;
  border-color: grey;
  box-shadow: 1px 1px 1px grey;
}

.ce-expl-rating-column {
  position: relative;
  width: 50pt;
  min-height: 70pt;
  float: left;
  padding: 2pt;
  border-right: ridge;
  border-color: black;
  border-width: 1pt;
}

.ce-expl-rating-cnt {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.ce-expl-voteup-button {
  border-radius: 30pt 30pt 2pt 2pt;
  font-weight: bold;
  width: -webkit-fill-available;
  background-color: #76ff76;
  border-color: green;
}

.ce-expl-votedown-button {
  border-radius: 2pt 2pt 30pt 30pt;
  font-weight: bold;
  width: -webkit-fill-available;
  background-color: #ff6565;
  border-color: red;
}

.ce-expl-author-cnt {
  float: right;
  padding: 2pt;
  border-left: ridge;
  border-color: black;
  border-width: 1pt;
}

.ce-expl {
  padding: 2pt;
  width: inherit;
  overflow-wrap: break-word;
}

.ce-expl-card > .tags {
  font-size: small;
  color: grey;
}

  .ce-wiki-frame {
     width: -webkit-fill-available;
       height: -webkit-fill-available;
  }

  #ce-tag-input {
      width: 50%;
    margin-bottom: 10pt;
    padding: 2pt;
    border-radius: 10pt;
    border-width: 1px;
    border-color: gainsboro;
  }

  .ce-btn {
    box-shadow: 1px 1px 1px grey;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
}

.ce-key-cnt {
  display: inline-flex;
}

.ce-add-btn {
    padding: 0 8px;
    font-weight: bolder;
    font-size: x-large;
    color: green;
    border-color: green;
    box-shadow: 1px 1px 1px green;
}

.lookup-img {
  width: 40pt;
}

.ce-merriam-expl-card {
  width: 90%;
  position: relative;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: auto;
  border-color: grey;
  box-shadow: 1px 1px 1px grey;
}

.ce-merriam-expl {
  text-align: left;
}

.ce-merriam-expl-cnt {
  width: fit-content;
  margin: auto;
}

.ce-margin {
  margin: 3pt;
}

.ce-linear-tab {
  font-size: 12pt;
  padding: 0pt 5pt;
  border-style: ridge;
  border-radius: 10pt;
  margin: 1pt 1pt;
  display: inline-block;
  white-space: nowrap;
}

#merriam-webster-submission-cnt {
  margin: 2pt;
  text-align: center;
  display: flex;
  overflow: scroll;
}
