.ce-tab-ctn {
  text-align: center;
  display: inline-flex;
  width: 100%;
}

.ce-lookup-cnt {
  width: 100%;
  padding: 5pt;
  padding-left: 50pt;
}

.ce-tab-list{
  display: block;
  list-style-type: none;
  position: absolute;
  width: max-content;
  margin: auto;
  padding: 0;
  margin: 0;
}

.ce-tab-list > li {
  padding: 4pt;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 2pt;
  font-weight: bolder;
  border-color: gray;
  box-shadow: 1px 1px 2px black;
  }

.ce-tab-list > .active {
    background-color: gainsboro;
    box-shadow: 0 0 0 black;
  }

.ce-expl-card {
  display: flex;
  position: relative;
  border: solid;
  text-align: left;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px 0px;
  border-color: grey;
  box-shadow: 1px 1px 1px grey;
}

.ce-expl-rating-column {
  min-height: 70pt;
  float: left;
  padding: 2pt;
  border-right: ridge;
  border-color: black;
  border-width: 1pt;
}

.ce-expl-rating-cnt {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

#ce-expl-voteup-btn {
  width: 0;
  height: 0;
  border-color: transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #3dd23d;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
#ce-expl-voteup-btn:disabled {
  border-bottom: 20px solid grey;
}

#ce-expl-votedown-btn {
  width: 0;
  height: 0;
  border-color: transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid #f74848;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

#ce-expl-votedown-btn:disabled {
  border-top: 20px solid grey;
}

.ce-expl-tag-cnt > span {
  display: inline-flex;
  margin: 0 5pt;
}

.ce-small-text {
    color: black;
    font-size: x-small;
}

.ce-expls-cnt {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px 0px;
  border-color: grey;
  box-shadow: 1px 1px 1px grey;
  padding: 5pt;
}

.ce-apply-expl-btn-cnt {
  position: relative;
  width: 5%;
}

.ce-apply-expl-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.ce-expl-author {
  width: 15%;
  overflow: auto;
  text-align: center;
  border-right: black;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.ce-expl-author-cnt {
  float: right;
  padding: 0;
  width: 100%;
  display: inline-flex;
}

.ce-expl {
  padding: 2pt;
  display: inline-flex;
  width: inherit;
  overflow-wrap: break-word;
}

.ce-expl-card > .tags {
  font-size: small;
  color: grey;
}

  .ce-wiki-frame {
     width: -webkit-fill-available;
       height: -webkit-fill-available;
  }

  #ce-tag-input {
      width: 50%;
    margin-bottom: 10pt;
    padding: 2pt;
    border-radius: 10pt;
    border-width: 1px;
    border-color: gainsboro;
  }

  .ce-btn {
    box-shadow: 1px 1px 1px grey;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
}

.ce-key-cnt {
  display: inline-flex;
}

.ce-add-btn {
    padding: 0 8px;
    font-weight: bolder;
    font-size: x-large;
    color: green;
    border-color: green;
    box-shadow: 1px 1px 1px green;
}

.lookup-img {
  width: 30pt;
}

.ce-merriam-expl-card {
  position: relative;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: auto;
  border-color: grey;
  box-shadow: 1px 1px 1px grey;
}

.ce-merriam-expl {
  text-align: left;
}

.ce-merriam-expl-cnt {
  width: fit-content;
  margin: auto;
}

.ce-margin {
  margin: 3pt;
}

.ce-linear-tab {
  font-size: 12pt;
  padding: 0pt 5pt;
  border-style: ridge;
  border-radius: 10pt;
  margin: 1pt 1pt;
  display: inline-block;
  white-space: nowrap;
}

.ce-inline-flex {
  display: inline-flex;
}

#merriam-webster-submission-cnt {
  margin: 2pt;
  text-align: center;
  display: flex;
  overflow: scroll;
}
